* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root{
    /* ==== Colors ==== */
    --body-color: #E4E9f7;
    --sidebar-color: #fff;
    --primary-color: #00425f;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

     /* ==== Transition === */
     --tran-02: all 0.2s ease;
     --tran-03: all 0.3s ease;
     --tran-04: all 0.4s ease;
     --tran-05: all 0.5s ease;
     
  }

  body{
     height: 100vh;
     background: var(--body-color);
  }

  .dashboard-wrapper{
    display: grid;
    grid-template-columns: 250px auto;
  }


  /* ==== Sidebar ==== */
  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
  }

  /* ==== Reusable CSS ==== */
  .sidebar .text{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  .sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
  }

  .sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
  }
 
  .sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
  }

  .sidebar li .icon,
  .sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
  }

  .sidebar header{
    position: relative;
  }
  .sidebar .image-text img {
    width: 40px;
    border-radius: 6px;

  }
  .sidebar header .image-text{
    display: flex;
    align-items: center;
    
  }
 
  header .image-text .header-text{
    display: flex;
    flex-direction: column;
  }

  .header-text .name{
    font-weight: 600;
  }

  .header-text .profession{
    margin-top: -2px;
  }

  .sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    color: var(--sidebar-color);
    font-size: 22px;
  }

  .sidebar .search-box{
    background: var(--primary-color-light);

  }

  .search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
  }
  .sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    color: #707070;
    transition: var(--tran-04);
  }

  .sidebar li a:hover{
    background: var(--primary-color);
    color: #fff;
  }

  .sidebar li a:hover .icon,
  .sidebar li a:hover .text {
      color: var(--sidebar-color);
  }

  .sidebar .menu-bar{
    height: calc(100% -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 
   .sidebar .bottom-content li a {
    margin-top: 160px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
  }

  

  .active .btn:hover, .menu-links .active {
    background-color: #00435f;
    color: white;
    border-radius: 6px;
}
.active .btn, .menu-links .active{
    background-color: #00435f;
    color: white;
    border-radius: 6px;
}
  
.page-container{
  display: flex;
  flex-direction: row;
  
}

 .page-container .main-page .main-meal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 180px;
}


/* ==== Card ==== */
.card {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 550px;
  height: "";
  margin: 20px;
  border-radius: 15px;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.input-field{
  outline: none;
  border: none;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  
}
.input-field input{ 
  outline: none;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #00435f7c;
  border-radius: 8px;
  outline: none;
  color: #333;
  padding: 8px 15px;
  height: 42px;
  margin: 8px 0;    
}
.input-field input:is(:focus){
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field input[type="date"]{
  color: #707070;
}
.input-field ::placeholder{
  color: #00435f93;
}

.textarea {
  background-color: #dddddd;
  color: #666666;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  
  height: 80px;
  transition: all 0.2s;
  resize: none;
}

.textarea:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.textarea:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #00435f7c;
}
label{
  color: #00435f7c; 
  font-size: 14px; 
  margin-left: 10px;
  margin-top: 10px;
}

.input-row1{
  display: flex;
  flex-direction: row;
}

.input-row2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nextBtn{
    display: flex;
    align-items: center;
    justify-content: center; 
    max-width: 200px;
    height: 45px;
    width: 150px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #00425f;
    right: -35%;
    transition: all 0.3s linear;
    cursor: pointer;
}
.nextBtn:hover{
  background-color: #105370ea;
}

.btn-dropdown{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dropdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width : ""; 
  height: 50px;
  background: #fff;
  margin-top: 26px;
  margin-left: 10px;
  margin-right: 10px;
}
.dropdown label{
  width: "";
}

.table-section{
  display: flex;
  height: "";
  overflow: auto;
  justify-content: center;
  margin-top: 40px;
}

table{
  width: 80%;
  table-layout: fixed;
  min-width: 1000px;
  border-collapse: collapse;
  justify-content: center;
}

thead th{
  position: sticky;
  top: 0;
  background-color: #00425f;
  color: #E4E9f7;
  font-size: 15px;
}

th, td{
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  word-break: break-all;
  text-align: center  ;
}

td img{
  height: 60px;
  width: 60px;
  object-fit: contain;
  border-radius: 20px;
  border: 3px solid #ced0d2;
}
tr:hover td{
  color: #00425f;
  cursor: pointer;
  background-color: #e4e9e759;
}
tr{
  background-color: #f6f9fc;
}
td button{
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  color: #fff;
}

td button:nth-child(1){
  background-color: #1386d5;
  color: #fff;
}
td button:nth-child(2){
  background-color: #f80000;
  color: #fff;
}
td button:nth-child(3){
  background-color: #dddddd;
  color: #fff;
}

table::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}

table::-webkit-scrollbar-track{
 box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
table::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 }