* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root{
    /* ==== Colors ==== */
    --body-color: #E4E9f7;
    --sidebar-color: #fff;
    --primary-color: #00425f;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

     /* ==== Transition === */
     --tran-02: all 0.2s ease;
     --tran-03: all 0.3s ease;
     --tran-04: all 0.4s ease;
     --tran-05: all 0.5s ease;
     
  }

  body{
     height: 100vh;
     background: var(--body-color);
  }

  .dashboard-wrapper{
    display: grid;
    grid-template-columns: 250px auto;
  }


  /* ==== Sidebar ==== */
  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
  }

  /* ==== Reusable CSS ==== */
  .sidebar .text{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  .sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
  }

  .sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
  }
 
  .sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
  }

  .sidebar li .icon,
  .sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
  }

  .sidebar header{
    position: relative;
  }
  .sidebar .image-text img {
    width: 40px;
    border-radius: 6px;

  }
  .sidebar header .image-text{
    display: flex;
    align-items: center;
    
  }
 
  header .image-text .header-text{
    display: flex;
    flex-direction: column;
  }

  .header-text .name{
    font-weight: 600;
  }

  .header-text .profession{
    margin-top: -2px;
  }

  .sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    color: var(--sidebar-color);
    font-size: 22px;
  }

  .sidebar .search-box{
    background: var(--primary-color-light);

  }

  .search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
  }
  .sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    color: #707070;
    transition: var(--tran-04);
  }

  .sidebar li a:hover{
    background: var(--primary-color);
    color: #fff;
  }

  .sidebar li a:hover .icon,
  .sidebar li a:hover .text {
      color: var(--sidebar-color);
  }

  .sidebar .menu-bar{
    height: calc(100% -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 
   .sidebar .bottom-content li a {
    margin-top: 160px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
  }

  

  .active .btn:hover, .menu-links .active {
    background-color: #00435f;
    color: white;
    border-radius: 6px;
}
.active .btn, .menu-links .active{
    background-color: #00435f;
    color: white;
    border-radius: 6px;
}
  




